.App {
  background-size: cover;
  color: white;
  size: 100%;
}

.logo {
  border-radius: 12px;
  background-color: #17181900;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
}


.side {
  margin: 12px;
  grid-column: 1/2;
}

.rest-listing {
  margin: 18px;
  font-family: 'Lexend';
  grid-area: 1/2/span 3/3;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

}

.rest-card {
  text-align: center;
  height: 228px;
  width: 200px;
  margin: 4px;
  padding: 4px;
  border-style: solid;
  border-color: #171819;
  border-radius: 6px;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.149);
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;

}

.rest-card:hover {
  box-shadow: 0 10px 2px 0 rgba(0, 0, 0, 0.53);
  transition: 0.2s;
}

.detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.update-container {
  grid-column: 2/3;
}

.rest-details {
  grid-column: 1/2;
  font-family: 'Lexend';
  color: black;
  margin: 4px;
  padding: 4px;
  border-style: solid;
  border-color: #171819;
  border-radius: 6px;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.712);
}

.comments-container {
  background-color: rgba(255, 255, 255, 0.2);

}

.comment-card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  border: 1px solid black;
  margin: 12px 4px 2px 4px;
  padding: 8px;
  transition: 0.3s;
}

.comment-card:hover {
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.20);
  transition: 0.2s;
}

h2 {
  margin-left: 0px;
  margin-right: 12px;
}

h4,
h5,
h6 {
  margin: 4px;
  color: rgb(50, 50, 50);
}

/* HEADER STYLES */

header {
  background-color: rgba(251, 250, 230, 0.922);
  font-family: 'Lexend';
  padding: 12px 18px 10px 18px;
  max-height: 130px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 8px;
  box-shadow: 0 12px 4px 0 rgba(0, 0, 0, 0.30);
}


a {
  color: rgb(147, 147, 147);
  background-color: transparent;
  text-decoration: none;
}

.home,
.rules,
.add {
  margin: 0;
  text-align: right;
}

a:hover {
  color: rgb(174, 174, 174);
  background-color: transparent;
  text-decoration: none;
}

.logo {
  margin: 0;
  grid-column: 1/4;
  grid-row: 1/4
}

.home {
  grid-column: 4/5;
  grid-row: 1/2;
}

.rules {
  grid-column: 4/5;
  grid-row: 2/3;
}

.add {
  margin: 0;
  grid-column: 4/5;
  grid-row: 3/4;
}


.img-wrapper {
  margin: 0;
  padding: 0;

}

img {
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.30);
}

.img-container {
  margin: 6px;
  padding: 4;
}

.restpic {
  height: 200px;
  width: 200px;
}

.notes {
  background-color: rgba(255, 255, 255, 0.363);
}

.add-container {
  background-color: rgba(255, 255, 255, 0.31);
  padding-top: 10px;
  margin: 12px;
  display: flex;
  justify-content: center;
}

.add-rest-form {
  margin-left: 2vw;
  width: 310px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between
}

#rname,
#cuisine,
#city,
#state,
#eventType,
#breakfast,
#lunch,
#dinner,
#notes,
#website,
#image {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.add-rest-form>label {
  margin: 0.5vh 0 0 0;
}

.add-label {
  margin-top: 10px;
  grid-column: 2/3;
}

.add-input {
  grid-column: 2/3;
}

span {
  font-style: italic;
}

.delete-rest {
  margin-left: 20px;
}

.rest-name {
  margin-bottom: 8px;
}


button,
input,
textarea,
select {
  background-color: rgba(255, 255, 255, 0.576);
  font-family: 'Lexend';
  margin: 10px;
  padding: 8px;
  width: 144px;
  border: 2px solid rgb(155, 42, 42);
  border-radius: 4px
}

.submit-button,
.new-comment-input {
  border: 1px solid rgb(94, 25, 25);
  border-radius: 4px;
  width: 144px;
  background-color: rgba(255, 255, 255, 0.918);
}

.qs-submit,
.login-submit {
  width: 100px;
  padding: 4px;
}

button:hover {
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.20);
  transition: 0.1s;
}

.comment-text {
  color: rgb(73, 73, 73);
}

label {
  font-family: 'Lexend';
  margin: 20px;
}

.App-link {
  color: #171819;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}