
.App {
  /* text-align: center; */
  background-size: cover;
  color: white;
  size: 100%;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.quick-search{
  margin: 12px;
  grid-column: 1/2;
}

.rest-listing {
  margin: 18px;
  font-family: 'Lexend';
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  
}

.rest-card {
  text-align: center;
  height: 200px;
  width: 200px;
  margin: 4px;
  padding: 4px;
  border-style: solid;
  border-color: #171819;
  border-radius: 12px;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.update-container {
  grid-column: 2/3;
}
.rest-details {
  grid-column: 1/2;
  font-family: 'Lexend';
  color: black;
  margin: 4px;
  padding: 4px;
  border-style: solid;
  border-color: #171819;
  border-radius: 12px;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.6);
}

.comments-container {
  background-color: rgba(255, 255, 255, 0.2);
  
}
.comment-card {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 12px 4px 2px 4px;
  
}

h2 {
  margin-left: 12px;
  margin-right: 12px;
}

h4, h5 {
  margin:0;
  color: rgb(50, 50, 50);
}

/* HEADER STYLES */

header {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Lexend';
  padding: 12px 18px 0 18px;
  max-height: 130px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px solid black;
}

.home, .rules, .add {
  margin: 0;
  text-align: right;
}

a {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(249, 255, 166);
  background-color: transparent;
  text-decoration: underline;
}

.logo {
  margin: 0;
  grid-column: 1/4;
  grid-row: 1/4
}

.home {
  grid-column: 4/5;
  grid-row: 1/2;
}

.rules {
  grid-column: 4/5;
  grid-row: 2/3;
}

.add {
  margin: 0;
  grid-column: 4/5;
  grid-row: 3/4;
}


.img-wrapper {
  margin: 0;
  padding: 0;
}

.restpic {
  height: 200px;
  width: 200px;
}

.add-container {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 12px;
  text-align: left;
  }

input, textarea, select {
  font-family: 'Lexend';
  margin: 10px;
  padding: 10px;
  width: 180px;
  border: 2px solid red;
  border-radius: 4px
}

label {
  font-family: 'Lexend';
  margin: 20px;
}
.App-link {
  color: #171819;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
