.App {
  /* text-align: center; */
  background-image: url('/Users/jscarpelli/ga_seir919/projects/ResRecs/resrecs_frontend/src/images/simon-karemann-p85-MG66GRY-unsplash.jpg');
  background-color: #ffffff;
  background-size: cover;
  color: white;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;sss
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.quick-search{
  margin: 12px;
  grid-column: 1/2;
}

.rest-listing {
  margin: 18px;
  font-family: 'Lexend';
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

}

.rest-card {
  height: 160px;
  width: 160px;
  margin: 4px;
  padding: 4px;
  border-style: solid;
  border-color: #171819;
  border-radius: 12px;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

header {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Lexend';
  padding: 12px 18px 0 18px;
  max-height: 130px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px solid black;
}

p {
  margin: 0;
  text-align: right;
}

a {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(249, 255, 166);
  background-color: transparent;
  text-decoration: underline;
}

.logo {
  margin: 0;
  grid-column: 1/4;
  grid-row: 1/4
}

.home {
  grid-column: 4/5;
  grid-row: 1/2;
}

.rules {
  grid-column: 4/5;
  grid-row: 2/3;
}

.add {
  margin: 0;
  grid-column: 4/5;
  grid-row: 3/4;
}


h2 {
  margin-left: 12px;
  margin-right: 12px;
}

.restpic {
  height: 200px;
  width: 200px;
}

.add-container {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 12px;
  text-align: left;
  }

input, textarea, select {
  font-family: 'Lexend';
  margin: 10px;
  padding: 10px;
  width: 180px;
  border: 2px solid red;
  border-radius: 4px
}

label {
  font-family: 'Lexend';
  margin: 20px;
}
.App-link {
  color: #171819;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
